Package: adwaita-gtk-ubuntu
Version: 1.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: github.com/pojntfx
Description: A modern Ambiance replacement that keeps Ubuntu's identity while staying upstream.
Built-Using: meson
